<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css" th:href="@{/css/style.css}" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/selecciones}">NEIS INC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/selecciones}">lista</a>
            </li>
        </ul>
    </div>
</nav>



<div class="container mt-5">
    <h1 th:if="${seleccion.nombre != null}">Editar seleccion</h1>
    <h1 th:if="${seleccion.nombre == null}">Nueva seleccion</h1>
    <!-- Formulario -->
    <form th:action="@{/selecciones/agregar}" th:object="${seleccion}" method="post">
        <input type="hidden" name="id" th:field="*{id}"/>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" th:field="*{nombre}" placeholder="Ingrese el nombre">
        </div>
        <div class="form-group">
            <label>Continenete:</label>

                <select name="continente" th:field="*{continente.id}" required >
                    <option value="">Seleccione un continente</option>
                    <option th:each="c : ${continente}"
                            th:value="${c.id}" th:text="${c.nombre}"></option>
                </select>
        </div>
        <div class="form-group">
            <label>Grupo: </label>
            <input type="text" th:field="*{grupo}" placeholder="Ingrese el grupo">
        </div>
        <button type="submit"  th:text="${seleccion.id == null ? 'Agregar' : 'Actualizar'}"></button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>